<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android = "http://schemas.android.com/apk/res/android"
	android:versionCode = "1"
	android:versionName = "1.0"
	package = "com.companyname.and110_list_views_and_adapters">

	<uses-sdk
		android:minSdkVersion = "16" />

	<application
		android:label = "and110-list-views-and-adapters">

	</application>

</manifest>

